
body {
  margin: 0;
}

.widget {
  width: 400px;
  height: 400px;
  background-color: blue;
  border: 1px solid black;
  position: absolute;
}

#box1 {
  width: 200px;
  height: 200px;
  background-color: red;
  /* z-index: -1; */

  /* transform: translate(300px, 300px); */
  /* transform: translateY(10px); */
}

